/* basics and resets */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

/* background relative */

html, body {
    height: 100%;
}

.background {
    background-repeat:no-repeat;
    background-position:100% 50%;
}

body.ie .background {
    background-position: 100% 90%;
    background-position: 100% 90%\9 !important;
}

.fullscreen,
.content-a {
    height:100%;
    min-height:100%;
}

.content-a {
    width: 78%;
    display: table;
    padding-left: 22%;
}

.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
    font-size: 1.5em;
    padding: 0 10em 100px;
    line-height: 1.8em;
}

@media (min-width: 1440px) {
    .content-b {
        padding: 0 20em 200px;
        font-size: 1.8em;
    }
}

.content-footer {
    position: relative;
    bottom: 100px;
    text-align: center;
    padding-left: 22%;
}

.background-fixed {
    background-attachment: fixed;
    background-position:100% 50%;
}

.not-fullscreen {
    height:50%;
}


/* left-bar */

header.left-bar {
    background: white;
    height: 100%;
    width: 22%;
    min-width: 15em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    margin: 0;
    padding: 8em 0 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px 3px 10px rgba(0, 0, 0, 0.23);
}

header.left-bar #logo {
    text-align: center;
    margin: 0;
    padding: 0;
    animation: titleComing 0.25s both cubic-bezier(.22,.61,.36,1);
    color: black;
    text-decoration: none;
    display: block;
}

header.left-bar #logo-img {
    background: url('../img/logo64.png') no-repeat 0 0;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    transition: all 0.2s;
}

header.left-bar h1 {
    font-size: 1.2em;
    transition: all 0.2s;
}

@media (min-width: 1440px) {
    header.left-bar h1 {
        font-size: 1.8em;
    }
    header.left-bar #logo-img {
        background: url('../img/logo128.png') no-repeat 0 0;
        width: 128px;
        height: 128px;
    }
}

@keyframes titleComing {
    0% {
        opacity: 0;
        transform: translateX(-2em);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

header.left-bar nav > ul {
    margin: 4em 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

header.left-bar nav > ul > li {
    display: block;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;
    border-style: none none none solid;
    border-width: 0 0 0 5px;
    border-color: rgba(255, 255, 255, .5);
    transition: all 0.2s;
    animation: menuItemsComing 0.25s both cubic-bezier(.22,.61,.36,1);
}

header.left-bar nav > ul > li:hover {
    border-color: #505355;
    background: #f8fafc;
}

header.left-bar nav > ul > li:nth-child(2) {
    animation-delay: 75ms;
}

header.left-bar nav > ul > li:nth-child(3) {
    animation-delay: 150ms;
}

@keyframes menuItemsComing {
    0% {
        opacity: 0;
        transform: translate3d(0, 2em, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

header.left-bar nav > ul > li::after {
    content: '';
    width: 3em;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: rgba(238, 238, 238, 0.33);
    margin-left: -1.5em;
    transition: background-color 0.2s;
}

header.left-bar:hover nav > ul > li::after {
    background-color: #eee;
}

header.left-bar nav > ul > li > a {
    display: block;
    margin: 0;
    padding: 1.2em 0;
    text-decoration: none;
    color: #505355;
    outline: none;
    transition: all 0.2s;
}

header.left-bar nav > ul > li > a.active {
    color: black;
}

header.left-bar nav > ul > li > a:hover {
    color: black;
}

/* content */

div.page-content {
    /*margin-left: 22%;*/
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, .65), 1px 1px 1px rgba(0, 0, 0, .30), 0 0 20px rgba(0, 0, 0, 0.25);
}


div.page-content div.not-background {
    color: #333;
    text-shadow: none;
}

div.page-content .button {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    color: #333;
    background-color: #EBF6FA;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-shadow: none;
}

div.page-content .button:hover {
    background: white;
    color: black;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: none;
}

/* home page */

div#home-page {
    opacity: 0;
    animation: contentComing 0.2s both cubic-bezier(.22, .61, .36, 1) 0s;
}

div#home-page.leaving {
    animation: contentGoing 0.2s both cubic-bezier(.22, .61, .36, 1) 0s;
}

div#home-page h2 {
    font-size: 2em;
}

div#home-page .background h2::after {
    content: '';
    width: 3em;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    margin: -50px 0 0 -1.5em;
}

div#home-page h3 {
    font-size: 1.7em;
}

div#home-page .not-background h3 {
    margin-bottom: 2.5em;
}

/* portfolio page */

div#portfolio-page {
    opacity: 0;
    animation: contentComing 0.2s both cubic-bezier(.22, .61, .36, 1) 0s;
}

div#portfolio-page.leaving {
    animation: contentGoing 0.2s both cubic-bezier(.22, .61, .36, 1) 0s;
}

div#portfolio-page .content-b {
    vertical-align: bottom;
    text-align: right;
    padding: 0 2em 2em;
}

div#portfolio-page .background {
    opacity: .75;
    transition: opacity .25s, background-size .25s;
    cursor: pointer;
}

div#portfolio-page .background .content-b {
    opacity: 0;
    transition: opacity .25s;
}

div#portfolio-page .background:hover,
div#portfolio-page .fullscreen:hover
{
    opacity: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

div#portfolio-page .background:hover .content-b {
    opacity: 1;
    transition: opacity .25s;
}
/*
div.page-content > div {
    animation: contentComing 0.2s both cubic-bezier(.22, .61, .36, 1);
}
*/
@keyframes contentComing {
    0% {
        opacity: 0;
        transform: translateY(-2em);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes contentGoing {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translateY(-2em);
    }
}
